{% extends 'trainer/base.html' %}
{% block content %}

  {# HEADER SECTION #}
  <div class="jumbotron text-center" id="about_jumbotron">
    <h1>KLM Personal Training</h1>
    <p>Live your best life!</p>
  </div>

  {# ABOUT SECTION #}
  <div class="container">
    <h1>Who are we?</h1>
    <p>Founded in 2010, KLM Personal Training has helped thousands of clients on their personal fitness
    journey. Whether you're looking to get back into shape, lose weight, or just looking to gain some knowledge,
    KLM Personal Training is perfect for you!</p>
  </div>

{% endblock content %}
